<html xmlns:th="http://www.thymeleaf.org">

<body>

<h2>Branches</h2>

<form th:action="@{/branches/save}" method="post">
    <input type="text" name="name" placeholder="Branch Name">
    <button type="submit">Save</button>
</form>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Action</th>
    </tr>

    <tr th:each="branch : ${branches}">
        <td th:text="${branch.id}"></td>
        <td th:text="${branch.name}"></td>
        <td>
            <a th:href="@{'/branches/delete/' + ${branch.id}}">Delete</a>
        </td>
    </tr>

</table>

</body>
</html>