<div class="container">

    <h3>Leaf Entry</h3>

    <form th:action="@{/leaf-entry/save}" th:object="${leafEntry}" method="post">

        <div class="form-group">
            <label>Entry Date</label>
            <input type="date" th:field="*{entryDate}" class="form-control" required>
        </div>

        <div class="form-group">
            <label>Party</label>
            <select th:field="*{party}" class="form-control">

                <option th:each="p : ${parties}"
                        th:value="${p.id}"
                        th:text="${p.partyCode + ' - ' + p.name}">
                </option>

            </select>
        </div>

        <div class="form-group">
            <label>Quantity (Kg)</label>
            <input type="number" step="0.01" th:field="*{quantity}" class="form-control" required>
        </div>

        <br>

        <button type="submit" class="btn btn-primary">
            Save Entry
        </button>

    </form>

</div>