<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
</head>

<body>
<!-- topbar starts -->
<div th:replace="fragments/topbar :: topbar"></div>
<!-- topbar ends -->
<div class="ch-container">
    <div class="row">

        <!-- left menu starts -->
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <!-- left menu ends -->

        <noscript>
            <div class="alert alert-block col-md-12">
                <h4 class="alert-heading">Warning!</h4>

                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                    enabled to use this site.</p>
            </div>
        </noscript>

        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Leaf Reports</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-edit"></i> Leaf Reports</h2>

                            <div class="box-icon">
                            </div>
                        </div>
                        <div class="box-content">
                            <form th:action="@{/leaf-entry/leaf-reports}" method="get">
                                <div class="form-group">
                                    <label for="startDate">Start Date</label>
                                    <input type="date" name="startDate" placeholder="Enter Start Date"
                                           id="startDate" required
                                           th:value="${startDate != null} ? ${startDate} : ${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd')}"
                                    >
                                </div>
                                <div class="form-group">
                                    <label for="endDate">End Date</label>
                                    <input type="date" name="endDate" placeholder="Enter End Date"
                                           id="endDate" required
                                           th:value="${endDate != null} ? ${endDate} : ${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd')}"
                                    >
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="branchCode">Select Branch (Optional)</label>

                                    <div class="controls">
                                        <select id="branchCode" name="branchCode" data-rel="chosen">
                                            <option value="">-- Select Branch --</option>
                                            <option th:each="b : ${branches}"
                                                    th:value="${b.branchCode}"
                                                    th:text="${b.name}"
                                                    th:selected="${branchCode != null && branchCode == b.branchCode}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-default"> View</button>
                            </form>
                        </div>


                    </div>
                </div>
            </div>
            <!--/span-->
            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-user"></i> Leaf Collection
                                <span>
    <span th:if="${startDate != null && endDate != null}" th:text="'from '+ ${startDate} + ' to ' + ${endDate}"></span>
    <span th:if="${branchCode != null && !#strings.isEmpty(branchCode)}"
          th:text="' - ' + ${branchCode}"></span>
</span></h2>

                            <div class="box-icon">
                                <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                        class="glyphicon glyphicon-chevron-up"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div class="alert alert-info">
                                <strong>Total Quantity: </strong>
                                <span th:text="${total != null ? total + ' KG' : '0.00 KG'}"></span>
                            </div>
                            <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
                                <thead>
                                <tr>
                                    <th>Entry Date</th>
                                    <th>Branch</th>
                                    <th>Party Code</th>
                                    <th>Party Name</th>
                                    <th>Weight (KG)</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="report : ${reports}">
                                    <td th:text="${report.entryDate}"></td>
                                    <td th:text="${report.branchName}"></td>
                                    <td th:text="${report.partyCode}"></td>
                                    <td th:text="${report.partyName}"></td>
                                    <td class="center" th:text="${report.quantity}"></td>
                                    <td class="center">

                                        <a class="btn btn-info" th:href="@{'/leaf-entry/edit/' + ${report.id}}">
                                            <i class="glyphicon glyphicon-edit icon-white"></i>
                                            Edit
                                        </a>
                                        <a class="btn btn-danger" th:href="@{'/leaf-entry/delete/' + ${report.id}}"
                                           onclick="return confirm('Are you sure you want to delete this leaf entry?')">
                                            <i class="glyphicon glyphicon-trash icon-white"></i>
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/row-->
        </form>
        <hr>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h3>Next release Feature</h3>
                    </div>
                    <div class="modal-body">
                        <p>Stay Tuned Will be available in next release</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                        <a href="#" class="btn btn-primary" data-dismiss="modal">Save changes</a>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer"></div>

    </div><!--/.fluid-container-->

    <!-- external javascript -->
    <div th:replace="fragments/scripts :: scripts"></div>

</body>
</html>
