<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="utf-8">
    <title>Leaf Collection System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ✅ CSS -->
    <link id="bs-css" th:href="@{/css/bootstrap-cybrog.min.css}" rel="stylesheet">
    <link th:href="@{/css/charisma-app.css}" rel="stylesheet">

    <link th:href="@{/bower_components/fullcalendar/dist/fullcalendar.css}" rel="stylesheet">
    <link th:href="@{/bower_components/fullcalendar/dist/fullcalendar.print.css}" rel="stylesheet" media="print">
    <link th:href="@{/bower_components/chosen/chosen.min.css}" rel="stylesheet">
    <link th:href="@{/bower_components/colorbox/example3/colorbox.css}" rel="stylesheet">
    <link th:href="@{/bower_components/responsive-tables/responsive-tables.css}" rel="stylesheet">
    <link th:href="@{/bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css}" rel="stylesheet">

    <link th:href="@{/css/jquery.noty.css}" rel="stylesheet">
    <link th:href="@{/css/noty_theme_default.css}" rel="stylesheet">
    <link th:href="@{/css/elfinder.min.css}" rel="stylesheet">
    <link th:href="@{/css/elfinder.theme.css}" rel="stylesheet">
    <link th:href="@{/css/jquery.iphone.toggle.css}" rel="stylesheet">
    <link th:href="@{/css/uploadify.css}" rel="stylesheet">
    <link th:href="@{/css/animate.min.css}" rel="stylesheet">

    <!-- ✅ jQuery -->
    <script th:src="@{/bower_components/jquery/jquery.min.js}"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}">
</head>
</html>