<div th:fragment="sidebar">
<div class="col-sm-2 col-lg-2">
    <div class="sidebar-nav">
        <div class="nav-canvas">
            <div class="nav-sm nav nav-stacked">

            </div>
            <ul class="nav nav-pills nav-stacked main-menu">
                <li class="nav-header">Main</li>
                <li><a class="ajax-link" th:href="@{/}"><i class="glyphicon glyphicon-home"></i><span> Dashboard</span></a>
                </li>

                <li><a class="ajax-link" th:href="@{/branches}"><i
                        class="glyphicon glyphicon-edit"></i><span> Branch</span></a></li>
                <li><a class="ajax-link" th:href="@{/parties}"><i
                        class="glyphicon glyphicon-user"></i><span> Party</span></a></li>
                <li><a class="ajax-link" th:href="@{/leaf-entry}"><i
                        class="glyphicon glyphicon-edit"></i><span> Leaf Collection</span></a></li>
                <li><a class="ajax-link" th:href="@{/leaf-entry/leaf-reports}"><i
                        class="glyphicon glyphicon-edit"></i><span> Leaf Reports</span></a></li>
                <li><a class="ajax-link" th:href="@{/payments}"><i
                        class="glyphicon glyphicon-edit"></i><span> Party Payments</span></a></li>
                <li><a class="ajax-link" th:href="@{/rate}"><i
                        class="glyphicon glyphicon-edit"></i><span> Rate setting</span></a></li>
                <li><a class="ajax-link" th:href="@{/billing}"><i
                        class="glyphicon glyphicon-edit"></i><span> Bill Generation</span></a></li>

            </ul>
        </div>
    </div>
</div>
</div>
<!--/span-->