<div th:fragment="topbar">
    <div class="navbar navbar-default" role="navigation">

        <div class="navbar-inner">
            <button type="button" class="navbar-toggle pull-left animated flip">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- ✅ FIXED: Home + Logo -->
            <a class="navbar-brand" th:href="@{/}">
                <img alt="Logo" th:src="@{/img/logo20.png}" class="hidden-xs"/>
                <span>Palakkal</span>
            </a>

            <!-- user dropdown starts -->
            <div class="btn-group pull-right">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i>
                    <span class="hidden-sm hidden-xs"> admin</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Profile</a></li>
                    <li class="divider"></li>
                    <li><a th:href="@{/logout}">Logout</a></li>
                </ul>
            </div>
            <!-- user dropdown ends -->

            <!-- theme selector -->
            <div class="btn-group pull-right theme-container animated tada">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-tint"></i>
                    <span class="hidden-sm hidden-xs"> Change Theme / Skin</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="themes">
                    <li><a data-value="classic" href="#">Classic</a></li>
                    <li><a data-value="cerulean" href="#">Cerulean</a></li>
                    <li><a data-value="cyborg" href="#">Cyborg</a></li>
                    <li><a data-value="simplex" href="#">Simplex</a></li>
                    <li><a data-value="darkly" href="#">Darkly</a></li>
                    <li><a data-value="lumen" href="#">Lumen</a></li>
                    <li><a data-value="slate" href="#">Slate</a></li>
                    <li><a data-value="spacelab" href="#">Spacelab</a></li>
                    <li><a data-value="united" href="#">United</a></li>
                </ul>
            </div>

            <!-- menu -->
            <ul class="collapse navbar-collapse nav navbar-nav top-menu">

                <!-- Optional: make this real route -->
                <li>
                    <a th:href="@{/}">
                        <i class="glyphicon glyphicon-globe"></i> Home
                    </a>
                </li>

                <li class="dropdown">
                    <a href="#" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-star"></i> Menu
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a th:href="@{/leaf-entry}">Leaf Entry</a></li>
                        <li><a th:href="@{/leaf-entry/leaf-reports}">Reports</a></li>
                    </ul>
                </li>

                <li>
                    <form class="navbar-search pull-left">
                        <input placeholder="Search"
                               class="search-query form-control col-md-10"
                               name="query" type="text">
                    </form>
                </li>
            </ul>

        </div>
    </div>
</div>